.main_div {
  width: 250px;
}

.div_title {
  text-align: center;
  color: #286328;
  font-family: 'Cambria';
}

.div_body{
  height: 30px;
  padding:3px 35px 20px 35px;
}
.div_text{
  display: flex;
  align-items: center;
  height: 30px;
  float: left;
  font-weight: bold;
  font-family: 'Cambria';
  font-size: 15PX;    
}

.div_switch{
  display: flex;
  align-items: center;
  height: 30px;
  float: right;
}

.img_alert{
  width: 20px;
  height: 20px;
}

.div_footer{
  height: 20px;
  padding: 3px 25px 3px 25px;
}
.hide_footer{
  display: none !important;
}
.div_alert{
  display: flex;
  align-items: center;
  height: 20px;
  float:left;
}

.div_alert_msg{
  display: flex;
  height: 20px;
  align-items:center;
  float:right;
  font-weight: bold;
  font-family: 'Cambria';
  font-size: 13px;
  color: #f00000
}


/*daqui pra baixo copiei*/
.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 16px;
}
  
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}