.main_div {
  width: 250px;
}

.div_title {
  text-align: center;
  color: #286328;
  font-family: 'Cambria';
}

.div_body{
  padding:3px 35px 15px 35px;
}

select {
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}

.select {
  position: relative;
  display: flex;
  width: 180px;
  height: 3em;
  line-height: 3;
  background: #286328; 
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}


.div_footer{
  height: 20px;
  padding: 3px 25px 3px 25px;
}
.hide_footer{
  display: none !important;
}

.div_alert_img img{
  width: 20px;
  height: 20px;
}

.div_alert_img{
  display: flex;
  align-items: center;
  height: 20px;
  float:left;
}

.div_alert_msg{
  display: flex;
  height: 20px;
  align-items:center;
  float:right;
  font-weight: bold;
  font-family: 'Cambria';
  font-size: 13px;
  color: #f00000
}

